/*-----------------------------------*\
	$RESET
\*-----------------------------------*/
* {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
/*-----------------------------------*/

body { 
    font-family: sans-serif;
    background: #0E2B39;
    color: #ccc;
}
h2 {
    font-size: 1.2em;
}
#banner {
    height: 100px;
}
#navigation {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 10em;
}
#navigation > li {
    background: #2A4958 ;
    margin-bottom: 1px;
}
#navigation li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ccc;
    padding: 0.75em;
}
#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
    text-decoration: underline;
    background: #7A9BAC;
}
#container {
    /*width: 50em;*/
    margin-left: 12em;
}
#form {
    margin-bottom: 2em;
}
#content * {
margin: 0.5em;
}
