/*-----------------------------------*\
	$RESET
\*-----------------------------------*/
* {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
/*-----------------------------------*/

body { 
    /*font-family: sans-serif;*/
	background: #0A1C29;
	width:800px;
	color: #8582b0;
	text-align:justify;
	text-decoration: bold;
	margin:auto;
	margin-top:100px;;
}
h2 {
    font-size: 1em;
}
#navigation {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 18%;
}
#navigation > li {
	background: linear-gradient(to right, #1E3240 0%,#0A1C29 100%);
	margin-bottom: 5px;
}
#navigation li a {
	display: block;
	text-decoration: none;
	text-align: center;
	color: #8582B0;
	padding: 0.75em;
	border-width: 1px;
	border-color: #1E3240;
	border-style: solid;
}
#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
	background: #38556A;
}
#container {
        width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.demon > div {
	margin-bottom:20px;
}
.demon-data {
	background: #1E3240;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	margin-left:auto;
}
.demon-stats > .demon-data, .demon-affs > .demon-data, .demon-spells > .demon-data {
        display: inline;
}
.demon-stats, .demon-affs, .demon-spells {
        margin-top: 20px;
        margin-bottom: 20px;
}
