<div id='demon' class='demon-div'>
	<div class='demon-data'><b>{{demon.name}}</b> ({{demon.race}}) level {{demon.lv}} ({{demon.cost}} maccas)</div>
	<div class='demon-stats'>
		<p class='demon-data' id='hp'>HP {{demon.hp}}</p>
		<p class='demon-data' id='mp'>MP {{demon.mp}}</p>
		<p class='demon-data' id='str'>Strength {{demon.stg}}</p>
		<p class='demon-data' id='vit'>Vitality {{demon.vit}}</p>
		<p class='demon-data' id='mag'>Magic {{demon.mag}}</p>
		<p class='demon-data' id='agi'>Agility {{demon.agi}}</p>
		<p class='demon-data' id='lck'>Luck {{demon.lck}}</p>
	</div>
	<div class='demon-affs'>
		{% for aff in demon.affinities %}
		<p class='demon-data'>{{aff}}</p>
		{% endfor %}
	</div>
	<div class='demon-spells'>
		<!--{% for spell in demon.spells %}
		<p id='spell'>{{spell}}</p>
		{% endfor %}-->
		<p class='demon-data'> Spells {{demon.spells}}</p>
	</div>
	<div class='demon-data'>{{demon.info}}</div>
</div>
