<!doctype html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
        <title>Cathedral of shadows</title>
        <script type='text/javascript' src="{{url_for('static', filename='jquery-2.0.3.js')}}"></script>
        <script type='text/javascript' src="{{url_for('static', filename='functions.js')}}"></script>
    </head>
    <body>
        <h1 id="banner">Cathedral of shadows</h1>
        {% include "inc/menu.html" %}
        {% block form %}{% endblock %}
        <div id="container"></div>
    </body>
</html>
