<!doctype html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
        <title>Cathedral of shadows</title>
        <script type='text/javascript' src="{{url_for('static', filename='jquery-2.0.3.js')}}"></script>
        <script type='text/javascript' src="{{url_for('static', filename='functions.js')}}"></script>
    </head>
    <body>
        {% include "inc/menu.html" %}
        <div id='container'>
	    {% block content %}{% endblock %}
            <div id='response'></div>
        </div>
    </body>
</html>
