<!doctype html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
        <title>NoctComp</title>
        <script src="../js/jquery-2.0.3.js">
            function hello()
            {
                alert("Hello");
            }
        </script>
    </head>
    <body>
    {% block body %}
    <div id="banner">
        <h1>SEX BOMB, SEX BOMB, YOU'RE MA SEX BOMB !</h1>
    </div>
    {% include "inc/menu.html" %}
    <div class="container">
    </div>
    {% endblock %}
        <script>
            $(document).ready(hello);
            $("#banner").html("test");
            document.getElementById("banner").innerHTML = "Hello !";
        </script>
    </body>
</html>
