<!-- Normal fusions -->
{% if fs_type == 0 %}
    {% for recipe in recipes %}
        <p>{{recipe[0].name}} X {{recipe[1].name}}</p>
    {% endfor %}
{% endif %}

<!-- Myth fusions -->
{% if fs_type == 1 %}
    {% for recipe in recipes %}
        <p>{{recipe}}</p>
    {% endfor %}
{% endif %}

<!-- Evolutions -->
{% if fs_type == 2 %}
    {% for recipe in recipes %}
        <p>{{recipe}}</p>
    {% endfor %}
{% endif %}

<!-- Fiend fusions -->
{% if fs_type == 3 %}
    {% for recipe in recipes %}
        <p>{{recipe}}</p>
    {% endfor %}
{% endif %}
