<p>Sorts</p>
<label>Tous</label><input type="radio" id="skillsAll" name="skillsAll"/>
<label>Au moins un</label><input type="radio" id="skillsOne" name="skillsOne"/>
<br/>
<label>Physical</label><select id="selPhysical" name="selPhysical" multiple>
    <option value="option1">option1</option>
    <option value="option2">option2</option>
    <option value="option3">option3</option>
</select>
<label>Fire</label><select id="selFire" name="selFire" multiple>
    <option value="option1">option1</option>
    <option value="option2">option2</option>
    <option value="option3">option3</option>
</select>
<label>Ice</label><select id="selIce" name="selIce" multiple>
    <option value="option1">option1</option>
    <option value="option2">option2</option>
    <option value="option3">option3</option>
</select>
<label>Electricity</label><select id="selElectricity" name="selElectricity" multiple>
    <option value="option1">option1</option>
    <option value="option2">option2</option>
    <option value="option3">option3</option>
</select>
<label>Force</label><select id="selForce" name="selForce" multiple>
    <option value="option1">option1</option>
    <option value="option2">option2</option>
    <option value="option3">option3</option>
</select>
<label>Expel</label><select id="selExpel" name="selExpel" multiple>
    <option value="option1">option1</option>
    <option value="option2">option2</option>
    <option value="option3">option3</option>
</select>
<label>Death</label><select id="selDeath" name="selDeath" multiple>
    <option value="option1">option1</option>
    <option value="option2">option2</option>
    <option value="option3">option3</option>
</select>
<label>Almighty</label><select id="selAlmighty" name="selAlmighty" multiple>
    <option value="option1">option1</option>
    <option value="option2">option2</option>
    <option value="option3">option3</option>
</select>
<label>Curse</label><select id="selCurse" name="selCurse" multiple>
    <option value="option1">option1</option>
    <option value="option2">option2</option>
    <option value="option3">option3</option>
</select>
<label>Nerve</label><select id="selNerve" name="selNerve" multiple>
    <option value="option1">option1</option>
    <option value="option2">option2</option>
    <option value="option3">option3</option>
</select>
<label>Mind</label><select id="selMind" name="selMind" multiple>
    <option value="option1">option1</option>
    <option value="option2">option2</option>
    <option value="option3">option3</option>
</select>
